@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap");
@import url("https://unpkg.com/flexmasonry@0.2.3/dist/flexmasonry.css");
@import "@fancyapps/ui/dist/fancybox.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Kanit", sans-serif !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#map {
  height: 100%;
}

.arrow {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 150px;
  width: 40px;
  height: 40px;
  opacity: 1;
}

.shade {
  opacity: 0;
  background: rgba(8, 37, 13, 0.8);
  z-index: 3;
  height: 100vh;
  position: fixed;
  width: 100%;
}

.heroEffects {
  transform: scale(1);
}

#mainCarousel {
  --carousel-button-bg: #fff;

  --carousel-button-width: 38px;
  --carousel-button-height: 38px;

  --carousel-button-svg-width: 17px;
  --carousel-button-svg-height: 17px;

  --carousel-button-svg-stroke-width: 3;
  --carousel-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media screen and (max-width: 640px) {
  #mainCarousel .carousel__slide {
    width: 100%;
  }
}

.carousel__button.is-prev {
  left: -1.5rem;
}

.carousel__button.is-next {
  right: -1.5rem;
}

.ham {
}
.ham span {
  display: block;
  background: #fff;
  width: 15px;
  height: 2px;
  border-radius: 3px;
  transition: margin 0.25s 0.25s, transform 0.25s;
}
.ham .bar1 {
  margin-bottom: 4px;
}
.ham .bar2 {
}
.ham .bar3 {
  margin-top: 4px;
}

.ham.active span {
  transition: margin 0.25s, transform 0.25s 0.25s;
}

.ham.active .bar1 {
  margin-bottom: -4px;
  transform: rotate(45deg);
}
.ham.active .bar2 {
  visibility: hidden;
}
.ham.active .bar3 {
  margin-top: 0px;
  transform: rotate(135deg);
}

.roll {
  animation: roll 6s;
}
@keyframes roll {
  0% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
  50% {
    left: 1000px;
    -webkit-transform: rotate(360deg);
  }
  100% {
    left: 0px;
    -webkit-transform: rotate(-360deg);
  }
}

#body table {
  border-collapse: collapse;
  background-color: #a7df9d;
}
#body table thead tr th {
  border: 1px solid #dbdbdb;
}

#body table tbody tr td.reserve {
  background-color: rgb(248 113 113);

  border-left: 1px solid #4a4a4a;
}
#body table tbody tr td.noreserve {
  border-left: 1px dotted #dbdbdb;
  border-right: 1px dotted #dbdbdb;
}

#body table tbody tr td.line {
  border-top: 1px dotted #dbdbdb;

  text-align: center;
}

.carousel {
  position: relative;
  box-sizing: border-box;
}
.carousel *,
.carousel *:before,
.carousel *:after {
  box-sizing: inherit;
}
.carousel.is-draggable {
  cursor: move;
  cursor: grab;
}
.carousel.is-dragging {
  cursor: move;
  cursor: grabbing;
}
.carousel__viewport {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.carousel__track {
  display: flex;
}
.carousel__slide {
  flex: 0 0 auto;
  width: var(--carousel-slide-width, 60%);
  max-width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
}
.has-dots {
  margin-bottom: calc(0.5rem + 22px);
}
.carousel__dots {
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}
.carousel__dots .carousel__dot {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.carousel__dots .carousel__dot:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: 0.25;
  transition: opacity 0.15s ease-in-out;
}
.carousel__dots .carousel__dot.is-selected:after {
  opacity: 1;
}
.carousel__button {
  width: var(--carousel-button-width, 48px);
  height: var(--carousel-button-height, 48px);
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  cursor: pointer;
  color: var(--carousel-button-color, currentColor);
  background: var(--carousel-button-bg, transparent);
  border-radius: var(--carousel-button-border-radius, 50%);
  box-shadow: var(--carousel-button-shadow, none);
  transition: opacity 0.15s ease;
}
.carousel__button.is-prev,
.carousel__button.is-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel__button.is-prev {
  left: 10px;
}
.carousel__button.is-next {
  right: 10px;
}
.carousel__button[disabled] {
  cursor: default;
  opacity: 0.3;
}
.carousel__button svg {
  width: var(--carousel-button-svg-width, 50%);
  height: var(--carousel-button-svg-height, 50%);
  fill: none;
  stroke: currentColor;
  stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
  stroke-linejoin: bevel;
  stroke-linecap: round;
  filter: var(--carousel-button-svg-filter, none);
  pointer-events: none;
}

.border-img {
  border: 20px solid transparent;
  padding: 0px;
  border-image: url("/assets/king2565/R10Border.svg") 15 stretch;
}

@media screen and (max-width: 768px) {
  .border-img {
    border: 20px solid transparent;
    padding: 0px;
    border-image: url("/assets/king2565/R10Border.svg") 10 stretch;
  }
}
